<header class="site-header">
  <nav class="menu">
    <ul>
      {{ $currentPage := . }}
      {{ range first 2 .Site.Menus.main }}
          <li>
            <a class="menu__item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
          </li>
      {{ end }}
      <li>
        <a class="menu__item" href="/">
          <svg>
            <!-- TODO accessibility -->
          </svg>
        </a>
      </li>
      {{ range after 2 .Site.Menus.main }}
          <li>
            <a class="menu__item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
          </li>
      {{ end }}
    </ul>
  </nav>
  {{ partial "components/mobile-menu.html" . }}
</header>
<script>
(function(document, window, index) {
  /**
   * credit for this reactive sticky header goes to:
   * @osvaldas
   */
  'use strict';

  var elSelector	= '.site-header';
  var element		= document.querySelector( elSelector );

  if( !element ) return true;

  var elHeight		= 0;
  var elTop			= 0;
  var dHeight			= 0;
  var wHeight			= 0;
  var wScrollCurrent	= 0;
  var wScrollBefore	= 0;
  var wScrollDiff		= 0;

  window.addEventListener( 'scroll', function() {
    //iv not mobile menu active
    //var mobileMenuOpen = document.querySelector('.mobile-menu--active');

    //if(!mobileMenuOpen) {
      elHeight		= element.offsetHeight;
      dHeight			= document.body.offsetHeight;
      wHeight			= window.innerHeight;
      wScrollCurrent	= window.pageYOffset;
      wScrollDiff		= wScrollBefore - wScrollCurrent;
      elTop			= parseInt( window.getComputedStyle( element ).getPropertyValue( 'top' ) ) + wScrollDiff;

      if( wScrollCurrent <= 0 ) { // scrolled to the very top; element sticks to the top
        element.style.top = '0px';
      } else if( wScrollDiff > 0 ) { // scrolled up; element slides in
        element.style.top = ( elTop > 0 ? 0 : elTop ) + 'px';
      } else if( wScrollDiff < 0 ) { // scrolled down
        if( (wScrollCurrent + wHeight) >= (dHeight - elHeight) ) { // scrolled to the very bottom; element slides in
          //element.style.top = ( ( elTop = wScrollCurrent + wHeight - dHeight ) < 0 ? elTop : 0 ) + 'px';
        } else { // scrolled down; element slides out
          element.style.top = ( Math.abs( elTop ) > elHeight ? -elHeight : elTop ) + 'px';
        }
      }

      wScrollBefore = wScrollCurrent;
    //}
  });
}(document, window, 0));
</script>
