<header class="site-header">
  <div class="content">
    <a class="logo" href="/">
      <img id="logo-full" src="/vectors/logo-horizontal.svg" alt="Preforma Terapi logo">
      <img id="logo-small" src="/vectors/logo.svg" alt="Preforma Terapi logo">
    </a>
    <nav class="menu">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
          <a class="menu__item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
  {{ partial "components/mobile-menu.html" . }}
</header>
<script>
(function(document, window, index) {
  /**
   * credit for this reactive sticky header goes to:
   * @osvaldas
   */
  'use strict';

  var elSelector	= '.site-header';
  var element		= document.querySelector( elSelector );

  if( !element ) return true;

  var elHeight		= 0;
  var elTop			= 0;
  var dHeight			= 0;
  var wHeight			= 0;
  var wScrollCurrent	= 0;
  var wScrollBefore	= 0;
  var wScrollDiff		= 0;

  window.addEventListener( 'scroll', function() {
    //iv not mobile menu active
    //var mobileMenuOpen = document.querySelector('.mobile-menu--active');

    //if(!mobileMenuOpen) {
      elHeight		= element.offsetHeight;
      dHeight			= document.body.offsetHeight;
      wHeight			= window.innerHeight;
      wScrollCurrent	= window.pageYOffset;
      wScrollDiff		= wScrollBefore - wScrollCurrent;
      elTop			= parseInt( window.getComputedStyle( element ).getPropertyValue( 'top' ) ) + wScrollDiff;

      if( wScrollCurrent <= 0 ) { // scrolled to the very top; element sticks to the top
        element.style.top = '0px';
      } else if( wScrollDiff > 0 ) { // scrolled up; element slides in
        element.style.top = ( elTop > 0 ? 0 : elTop ) + 'px';
      } else if( wScrollDiff < 0 ) { // scrolled down
        if( (wScrollCurrent + wHeight) >= (dHeight - elHeight) ) { // scrolled to the very bottom; element slides in
          //element.style.top = ( ( elTop = wScrollCurrent + wHeight - dHeight ) < 0 ? elTop : 0 ) + 'px';
        } else { // scrolled down; element slides out
          element.style.top = ( Math.abs( elTop ) > elHeight ? -elHeight : elTop ) + 'px';
        }
      }

      wScrollBefore = wScrollCurrent;
    //}
  });
}(document, window, 0));
</script>
