/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, img, svg {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img, svg {
    max-width: 100%;
}

/*Box Sizing reset*/
*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

/*---------------------------------------*/
:root { 
    font-family: 'Inter', sans-serif;

	/*primary color*/
    --color--purple: #4E4361;

	/*secondary colors*/
	--color--blue: #E4EEF0;
	--color--green: #E9F0EC;
	--color--peach: #F5EDE9;
	--color--yellow: #FAF2E3;

	/*text colors*/
	--color--pink: #F24677;
	--color--teal: #1A95A2;


	--color--off-white: #FCFBFA;
	--color--white-50: rgba(255, 255, 255, 0.5);
	--color--black-25: rgba(0, 0, 0, 0.25);

	--font-size-fluid-0: clamp(.75rem, 1.5vw, 1rem);
    --font-size-fluid-1: clamp(1rem, 2vw, 1.5rem);
    --font-size-fluid-2: clamp(1.5rem, 3vw, 2.5rem);
    --font-size-fluid-3: clamp(2rem, 4vw, 3.5rem);
}



/*---------------------------------------*/

html {
	font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.8rem;
  font-family: 'Laila', serif;
  font-weight: 300;
}

/*--------HEADINGS--------*/
h1 { /*Welcome header*/
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 4.0rem;
  line-height: 1.6;
  color: var(--color--teal);
}

h2 { /*section header*/
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 3.0rem;
  line-height: 1.6;
  padding-top: 2.4rem;
  color: var(--color--teal);
  text-transform: uppercase;
}

h3 { /*section sub-header*/
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color--purple);
}

h4 { /*section sub heading label*/
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  color: var(--color--purple);

}

/*--------EMPHASIS--------*/
strong {
  font-family: 'Laila', serif;
  font-weight: 600;
  color: inherit;
}

/*--------BODY--------*/

p , section > ul {
  line-height: 2.0;
  padding-bottom: 2.4rem;
}

p, button, input, select, textarea, section > ul {
  font-family: 'Laila', serif;
  font-weight: 300;
  font-size: 2.4rem;
}

a {
  font-weight: 500;
  color: var(--color--purple);
  font-size: inherit;

  &:visited {
    color: var(--color--purple);
  }

  &:focus {
    outline: 2px solid var(--color--teal);
    outline-offset: 2px;
  }
}

/*---------------------------------------*/
body {
	height: 100svh;
	display: grid;
	background-color: var(--color--yellow);
}

section {
	place-self: center;
	width: fit-content;
}
