@import '../../_global-styles/mixins';
@import '../../_global-styles/colors';

.content-background {
  border-left: 3.2rem solid $color--off-white;
  border-right: 3.2rem solid $color--off-white;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone {
    padding-top: 2.4rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    border-left: 1.6rem solid $color--off-white;
    border-right: 1.6rem solid $color--off-white;
  }

  @include tablet {
    padding-top: 3.2rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    border-left: 2.4rem solid $color--off-white;
    border-right: 2.4rem solid $color--off-white;
  }

  @include desktop {
    padding-top: 4.8rem;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
    border-left: 3.2rem solid $color--off-white;
    border-right: 3.2rem solid $color--off-white;
  }

  flex: 1 0 auto;

}
