@import '../../_global-styles/mixins';
@import '../../_global-styles/colors';

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

.mobile-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  > * {
    margin-right: 2.4rem;
  }
  > :last-child {
    margin-right: 0;
  }

  @include phone {
    //margin-left: 1.6rem;
    //margin-right: 1.6rem;
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }

  &__title {
    font-family: 'Laila', serif;
    font-weight: 500;
    font-size: 2.4rem;
    //text-transform: uppercase;
    padding-bottom: 1.6rem;

    @include phone {
      font-size: 2.0rem;
    }

    @include tablet {
      font-size: 2.4rem;
    }
  }
}

.burger {
  background-color: transparent;
  border: none;
  padding: 10px 6px 10px 6px;
  position: absolute;
  z-index: 20;
  right: 0;
  cursor: pointer;
  transform: rotateY(0);
  @include easeOut;

  &:focus {
    // outline: 2px solid $color--teal;
    // outline-offset: 2px;
    outline: none;
    box-shadow: 0 0 0 2px $color--teal;
    border-radius: 28px;

    .burger__patty {
      //background: $color--pink;
    }
  }

  &:active {
    background-color: inherit;
  }

  &__patty {
    width: 22px;
    height: 2px;
    border-radius: 4px;
    margin: 0 0 4px 0;
    background: $color--purple;
    @include easeOut;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);

    .burger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  visibility: hidden;
  overflow-y: scroll;

  .logo {
    margin: 16px;
  }

  &--active {
    visibility: visible;
  }

  &__brand,
  &__list {
    float: none;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__list {
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
    margin: 0;
    padding: 0;
    //background: mix(black, $color--blue, 10);
    background: $color--off-white;
    opacity: 0.9;
    list-style-type: none;
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__item {
    transform: translate3d(500px, 0, 0);
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 24px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    @include easeOut;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: $color--purple;
      transform: translateX(-50%);
      @include easeOut;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  // add delay to each menu item
  @for $x from 1 through 6 {
    .mobile-menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}
