/*primary color*/
$color--purple: #4E4361;

/*secondary colors*/
$color--blue: #E4EEF0;
$color--green: #E9F0EC;
$color--peach: #F5EDE9;
$color--yellow: #FAF2E3;

/*text colors*/
$color--pink: #F24677;
$color--teal: #1A95A2;


$color--off-white: #FCFBFA;
$color--white-50: rgba(255, 255, 255, 0.5);
$color--black-25: rgba(0, 0, 0, 0.25);

/*-----variables to use in other files-------*/
$color--background-1: $color--blue;
$color--background-2: $color--peach;
$color--background-3: $color--green;
$color--background-4: $color--yellow;


.background-1 {
  background-color: $color--blue;

  .bg-logo {
    //fill: $color--blue;
    background-color: $color--blue;
  }
}

.background-2 {
  background-color: $color--peach;

  .bg-logo {
    //fill: $color--peach;
    background-color: $color--peach;
  }
}

.background-3 {
  background-color: $color--green;

  .bg-logo {
    //fill: $color--green;
    background-color: $color--green;
  }
}

.background-4 {
  background-color: $color--yellow;

  .bg-logo {
    //fill: $color--yellow;
    background-color: $color--yellow;
  }
}
