.flex {
	display: flex;
}

.flex-d{
	&--row {
		flex-direction: row;
	}

	&--col {
		flex-direction: column;
	}
}

.flex-jc {
	&--start {
		justify-content: flex-start;
	}

	&--end {
		justify-content: flex-end;
	}

	&--center {
		justify-content: center;
	}

	&--sp-between {
		justify-content: space-between;
	}

	&--sp-around {
		justify-content: space-around;
	}

	&--sp-evenly {
		justify-content: space-evenly;
	}
}

.flex-ai {
	&--start {
		align-items: flex-start;
	}

	&--end {
		align-items: flex-end;
	}

	&--center {
		align-items: center;
	}

	&--baseline {
		align-items: baseline;
	}

	&--stretch {
		align-items: stretch;
	}
}

.flex-ac {
	&--start {
		align-content: flex-start;
	}

	&--end {
		align-content: flex-end;
	}

	&--center {
		align-content: center;
	}

	&--sp-between {
		align-content: space-between;
	}

	&--sp-around {
		align-content: space-around;
	}

	&--stretch {
		align-content: stretch;
	}
}
