

html {
  font-size: 62.5%; /* 1rem = 10px */
  color: $color--purple;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: 'Laila', serif;
  font-weight: 300;
}

/*--------HEADINGS--------*/
h1 { /*Welcome header*/
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 4.0rem;
  line-height: 1.6;
  color: $color--teal;
  @include phone {
    font-size: 2.4rem;
  }
  @include tablet {
    font-size: 3.2rem;
  }
  @include desktop {
    font-size: 4.0rem;
  }
}

h2 { /*section header*/
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 3.0rem;
  line-height: 1.6;
  padding-top: 2.4rem;
  color: $color--teal;
  text-transform: uppercase;

  @include phone {
    font-size: 2.0rem;
  }
  @include tablet {
    font-size: 2.4rem;
  }
  @include desktop {
    font-size: 3.0rem;
  }
}

h3 { /*section sub-header*/
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  color: $color--purple;

  @include phone {
    font-size: 1.8rem;
  }
  @include tablet {
    font-size: 2.0rem;
  }
  @include desktop {
    font-size: 2.4rem;
  }
}

h4 { /*section sub heading label*/
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  color: $color--purple;

  @include phone {
    font-size: 1.4rem;
  }
  @include tablet {
    font-size: 1.6rem;
  }
  @include desktop {
    font-size: 1.8rem;
  }
}

/*--------EMPHASIS--------*/
strong {
  font-family: 'Laila', serif;
  font-weight: 600;
  color: inherit;
}

/*--------BODY--------*/

p , section > ul {
  line-height: 2.0;
  padding-bottom: 2.4rem;
}

p, button, input, select, textarea, section > ul {
  font-family: 'Laila', serif;
  font-weight: 300;
  font-size: 2.4rem;

  @include phone {
    font-size: 1.8rem;
  }
  @include tablet {
    font-size: 2.0rem;
  }
  @include desktop {
    font-size: 2.4rem;
  }
}

a {
  font-weight: 500;
  color: $color--purple;
  font-size: inherit;

  &:visited {
    //change color?
  }

  &:focus {
    outline: 2px solid $color--teal;
    outline-offset: 2px;
  }
}

section > ul {
  list-style: disc inside none;
}

blockquote {
  padding-left: 4.8rem;

  @include phone {
    padding-left: 2.4rem;
  }
  @include tablet {
    padding-left: 3.2rem;
  }
  @include desktop {
    padding-left: 4.8rem;
  }

  p {
    font-weight: 500;
    line-height: 1.8;

    @include phone {
      font-size: 1.6rem;
    }
    @include tablet {
      font-size: 1.8rem;
    }
    @include desktop {
      font-size: 2.0rem;
    }
  }
}

/*--------FOOTER--------*/
footer {
  font-family: 'Laila', serif;
  font-weight: 300;
  font-size: 1.8rem;

  @include phone {
    font-size: 1.4rem;
  }
  @include tablet {
    font-size: 1.6rem;
  }
  @include desktop {
    font-size: 1.8rem;
  }
}

/*---------CONTACT FORM----------*/
label {
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 1.8rem;
  @include phone {
    font-size: 1.4rem;
  }
  @include tablet {
    font-size: 1.6rem;
  }
  @include desktop {
    font-size: 1.8rem;
  }
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
}

/*--------NAVIGATION--------*/
.menu__item, .mobile-menu__link {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 2.0rem;
  color: $color--purple;
  text-transform: uppercase;
  white-space: nowrap;

  @include phone {
    font-size: 2.0rem;
  }
  @include tablet {
    font-size: 1.6rem;
  }
  @include desktop {
    font-size: 2.0rem;
  }

  &.active {
    color: $color--pink;
  }
}

nav a {
	text-decoration: none;

  &:visited {
    color: inherit;
  }
}
