<head>
  {{ partial "base/meta.html" . }}
  <title>{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Site.BaseURL }}" />
  <link rel="stylesheet" type='text/css' href="{{ "css/_global-styles/main.css" | absURL }}"/>
  <link rel="stylesheet" type='text/css' href="{{ "css/components/bg-logo/bg-logo.css" | absURL }}"/>
  <link rel="stylesheet" type='text/css' href="{{ "css/components/header/header.css" | absURL }}"/>
  <link rel="stylesheet" type='text/css' href="{{ "css/components/footer/footer.css" | absURL }}"/>
  <link rel="stylesheet" type='text/css' href="{{ "css/components/mobile-menu/mobile-menu.css" | absURL }}"/>
  <link rel="stylesheet" type='text/css' href="{{ "css/components/top-button/top-button.css" | absURL }}"/>
  <link rel="stylesheet" type='text/css' href="{{ "css/components/content-background/content-background.css" | absURL }}"/>

  {{ if eq $.Page.Type "home" }}
    {{ partial "base/css-start.html" . }}
  {{ else if eq $.Page.Type "terapi" }}
    {{ partial "base/css-terapi.html" . }}
  {{ else if eq $.Page.Type "om-kim" }}
    {{ partial "base/css-om-kim.html" . }}
  {{ else if eq $.Page.Type "boka" }}
    {{ partial "base/css-boka.html" . }}
  {{ end }}

  <link href="https://fonts.googleapis.com/css?family=Laila:300,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" href="{{ "favicon.png" | relURL }}" />
  <link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}" sizes="192x192" />
  <!-- Hotjar Tracking Code for https://nervous-sinoussi-e114f9.netlify.com/ -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1664423,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
