/*primary color*/
/*secondary colors*/
/*text colors*/
/*-----variables to use in other files-------*/
.background-1 {
  background-color: #E1EBED; }
  .background-1 .bg-logo {
    fill: #E1EBED; }

.background-2 {
  background-color: #FAF5F2; }
  .background-2 .bg-logo {
    fill: #FAF5F2; }

.background-3 {
  background-color: #E9F0EC; }
  .background-3 .bg-logo {
    fill: #E9F0EC; }

.background-4 {
  background-color: #FFF3DB; }
  .background-4 .bg-logo {
    fill: #FFF3DB; }

.article-media-block {
  width: 100%;
  max-width: 76.8rem; }
  @media screen and (min-width: 0px) {
    .article-media-block {
      margin: 0 1.6rem 2.4rem 1.6rem; } }
  @media screen and (min-width: 480px) {
    .article-media-block {
      margin: 0 2.4rem 3.2rem 2.4rem;
      max-width: 51.2rem; } }
  @media screen and (min-width: 840px) {
    .article-media-block {
      margin: 0 3.2rem 4.8rem 3.2rem;
      max-width: 76.8rem; } }
  .article-media-block .media-container {
    background-color: #333;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 0px) {
      .article-media-block .media-container {
        border: 0.8rem solid #FCFBFA; } }
    @media screen and (min-width: 480px) {
      .article-media-block .media-container {
        border: 1.2rem solid #FCFBFA; } }
    @media screen and (min-width: 840px) {
      .article-media-block .media-container {
        border: 1.6rem solid #FCFBFA; } }
    .article-media-block .media-container .video-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 25px;
      height: 0; }
    .article-media-block .media-container .video-wrapper object,
    .article-media-block .media-container .video-wrapper embed,
    .article-media-block .media-container .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
