/*primary color*/
/*secondary colors*/
/*text colors*/
/*-----variables to use in other files-------*/
.background-1 {
  background-color: #E4EEF0; }
  .background-1 .bg-logo {
    background-color: #E4EEF0; }

.background-2 {
  background-color: #F5EDE9; }
  .background-2 .bg-logo {
    background-color: #F5EDE9; }

.background-3 {
  background-color: #E9F0EC; }
  .background-3 .bg-logo {
    background-color: #E9F0EC; }

.background-4 {
  background-color: #FAF2E3; }
  .background-4 .bg-logo {
    background-color: #FAF2E3; }

.article-special-block {
  max-width: 76.8rem;
  width: 100%; }
  @media screen and (min-width: 0px) {
    .article-special-block {
      margin: 0 1.6rem 2.4rem 1.6rem; } }
  @media screen and (min-width: 480px) {
    .article-special-block {
      margin: 0 2.4rem 3.2rem 2.4rem;
      max-width: 51.2rem; } }
  @media screen and (min-width: 840px) {
    .article-special-block {
      margin: 0 3.2rem 4.8rem 3.2rem;
      max-width: 76.8rem; } }
  .article-special-block__content {
    background-color: rgba(255, 255, 255, 0.5); }
    @media screen and (min-width: 0px) {
      .article-special-block__content {
        padding: 2.4rem 1.6rem 2.4rem 1.6rem; } }
    @media screen and (min-width: 480px) {
      .article-special-block__content {
        padding: 3.2rem 2.4rem 3.2rem 2.4rem; } }
    @media screen and (min-width: 840px) {
      .article-special-block__content {
        padding: 4.8rem 3.2rem 4.8rem 3.2rem; } }
