@import '../../_global-styles/mixins';
@import '../../_global-styles/colors';

.back-to-top {

  //TODO hide/lower button when mobile menu open

  width: 72px;
  height: 72px;
  background-color: $color--white-50;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0 $color--black-25;
  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  bottom: 3.2rem;
  right: 0;
  margin-bottom: 3.2rem;
  align-self: flex-end;

  @include phone {
    margin-bottom: 1.6rem;
    bottom: 1.6rem;
  }

  @include tablet {
    margin-bottom: 2.4rem;
    bottom: 2.4rem;
  }

  @include desktop {
    margin-bottom: 3.2rem;
    bottom: 3.2rem;
  }


  &:hover {
    background-color: $color--teal;

    svg use {
      fill: $color--off-white;
    }
  }

  &:active {
    background-color: darken($color--teal, 10%);
  }

  svg {
    width: 2.4rem;
  }
}
