@import '../../_global-styles/mixins';

.hero-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 108.0rem;

  @include phone {
    flex-direction: column;
    align-items: center;
    margin: 0 1.6rem 2.4rem 1.6rem;
    > :first-child {
      margin-right: 0;
      margin-bottom: 2.4rem;
    }
  }

  @include tablet {
    flex-direction: row;
    margin: 0 2.4rem 3.2rem 2.4rem;
    max-width: 76.8rem;
    > :first-child {
      margin-right: 3.2rem;
      margin-bottom: 0;
    }
  }

  @include desktop {
    flex-direction: row;
    margin: 0 3.2rem 4.8rem 3.2rem;
    max-width: 108.0rem;
    > :first-child {
      margin-right: 4.8rem;
      margin-bottom: 0;
    }
  }
}
