/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Box Sizing reset*/
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/*primary color*/
/*secondary colors*/
/*text colors*/
/*-----variables to use in other files-------*/
.background-1 {
  background-color: #E4EEF0; }
  .background-1 .bg-logo {
    background-color: #E4EEF0; }

.background-2 {
  background-color: #F5EDE9; }
  .background-2 .bg-logo {
    background-color: #F5EDE9; }

.background-3 {
  background-color: #E9F0EC; }
  .background-3 .bg-logo {
    background-color: #E9F0EC; }

.background-4 {
  background-color: #FAF2E3; }
  .background-4 .bg-logo {
    background-color: #FAF2E3; }

@font-face {
  font-family: 'League Spartan';
  src: url("/fonts/league-spartan/leaguespartan-bold.eot");
  src: url("/fonts/league-spartan/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/league-spartan/leaguespartan-bold.woff2") format("woff2"), url("/fonts/league-spartan/leaguespartan-bold.woff") format("woff"), url("/fonts/league-spartan/leaguespartan-bold.ttf") format("truetype"), url("/fonts/league-spartan/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  color: #4E4361;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*--------HEADINGS--------*/
h1 {
  /*Welcome header*/
  font-family: 'League Spartan', sans-serif;
  font-size: 3.6rem;
  line-height: 2.0;
  color: #1A95A2; }

h2 {
  /*section header*/
  font-family: 'League Spartan', sans-serif;
  font-size: 2.4rem;
  line-height: 2.0;
  color: #1A95A2;
  text-transform: uppercase; }
  @media screen and (min-width: 0px) {
    h2 {
      font-size: 1.8rem; } }
  @media screen and (min-width: 480px) {
    h2 {
      font-size: 2.0rem; } }
  @media screen and (min-width: 840px) {
    h2 {
      font-size: 2.4rem; } }

h3 {
  /*section sub-header*/
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #4E4361; }
  @media screen and (min-width: 0px) {
    h3 {
      font-size: 1.8rem; } }
  @media screen and (min-width: 480px) {
    h3 {
      font-size: 2.0rem; } }
  @media screen and (min-width: 840px) {
    h3 {
      font-size: 2.4rem; } }

h4 {
  /*section sub heading label*/
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #4E4361; }
  @media screen and (min-width: 0px) {
    h4 {
      font-size: 1.4rem; } }
  @media screen and (min-width: 480px) {
    h4 {
      font-size: 1.6rem; } }
  @media screen and (min-width: 840px) {
    h4 {
      font-size: 1.8rem; } }

/*--------EMPHASIS--------*/
strong {
  font-family: 'Laila', serif;
  font-weight: 500;
  color: inherit; }

/*--------BODY--------*/
p {
  line-height: 1.5;
  padding-bottom: 1.6rem; }

p, button, input, select, textarea {
  font-family: 'Laila', serif;
  font-weight: 300;
  font-size: 2.4rem; }
  @media screen and (min-width: 0px) {
    p, button, input, select, textarea {
      font-size: 1.8rem; } }
  @media screen and (min-width: 480px) {
    p, button, input, select, textarea {
      font-size: 2.0rem; } }
  @media screen and (min-width: 840px) {
    p, button, input, select, textarea {
      font-size: 2.4rem; } }

a {
  font-weight: 500;
  color: #4E4361;
  font-size: inherit; }
  a:focus {
    outline: 2px solid #1A95A2;
    outline-offset: 2px; }

blockquote {
  padding-left: 4.8rem; }
  @media screen and (min-width: 0px) {
    blockquote {
      padding-left: 2.4rem; } }
  @media screen and (min-width: 480px) {
    blockquote {
      padding-left: 3.2rem; } }
  @media screen and (min-width: 840px) {
    blockquote {
      padding-left: 4.8rem; } }
  blockquote p {
    font-weight: 500;
    line-height: 1.8; }
    @media screen and (min-width: 0px) {
      blockquote p {
        font-size: 1.6rem; } }
    @media screen and (min-width: 480px) {
      blockquote p {
        font-size: 1.8rem; } }
    @media screen and (min-width: 840px) {
      blockquote p {
        font-size: 2.0rem; } }

/*--------FOOTER--------*/
footer {
  font-family: 'Laila', serif;
  font-weight: 300;
  font-size: 1.8rem; }
  @media screen and (min-width: 0px) {
    footer {
      font-size: 1.4rem; } }
  @media screen and (min-width: 480px) {
    footer {
      font-size: 1.6rem; } }
  @media screen and (min-width: 840px) {
    footer {
      font-size: 1.8rem; } }

/*---------CONTACT FORM----------*/
label {
  font-family: 'Laila', serif;
  font-weight: 500;
  font-size: 1.8rem; }
  @media screen and (min-width: 0px) {
    label {
      font-size: 1.4rem; } }
  @media screen and (min-width: 480px) {
    label {
      font-size: 1.6rem; } }
  @media screen and (min-width: 840px) {
    label {
      font-size: 1.8rem; } }

input::placeholder {
  color: inherit;
  opacity: 0.5; }

/*--------NAVIGATION--------*/
.menu__item, .mobile-menu__link {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.8rem;
  color: #4E4361;
  text-transform: uppercase; }
  .menu__item.active, .mobile-menu__link.active {
    color: #F24677; }

nav a {
  text-decoration: none; }
  nav a:visited {
    color: inherit; }

body {
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 0px) {
    body, body #top {
      padding-top: 9.6rem; } }
  @media screen and (min-width: 480px) {
    body, body #top {
      padding-top: 9.6rem; } }
  @media screen and (min-width: 840px) {
    body, body #top {
      padding-top: 19.2rem; } }

.no-scroll {
  overflow: hidden; }

#top {
  position: absolute;
  top: 0; }
