{{ define "main" }}
  <main class="content-background background-1">
    {{ partial "blocks/hero-block.html" . }}
    <section class="article-special-block">
      <div class="article-special-block__content">
        <h4 id="announcement-heading">
          {{ .Params.announcementDate.Format "2006-01-02" }}
        </h4>
        <div id="announcement-content">
            {{ .Params.announcementText | markdownify }}
        </div>
      </div>
    </section>
    {{ partial "blocks/services-block.html" . }}
    {{ partial "components/top-button.html" . }}
  </main>
{{ end }}
