<section class="article-text-block">
  <header>
    <h2>Section Title</h2>
  </header>
  <p>I mitten av 90-talet började jag intressera mig för Mental träning. På den tiden ingick Mindfulness som en del i den mentala träningen men namnet ”mindfulness” fanns inte. Totalt läste och praktiserade jag 3,5 år för Lars-Eric Uneståhl och Elisabeth Sohlin vid Skandinaviska Ledarhögskolan och blev till slut Diplomerad Avpänningspedagog. Jag gick jag även en kortare mindfulnesskurs för Ola Schenström i Stockholm.</p>
  <p>På den tiden arbetade jag i princip uteslutande med grupper under perioder på 10-12 veckor kring avspänning och mindfulness.</p>

  <h3>Så fortsätter vi</h3>
  <p> Därefter träffas vi regelbundet och så ofta vi kommer överens om. Vanligtvis träffar jag mina klienter 1 gång per vecka, alternativt 1 gång var 14 dag men andra intervall förekommer också. Resultaten av våra möten behöver bearbetas och en del behöver längre och andra kortare tid för detta. Det finns inga genvägar till en långsiktlig psykisk hälsa, och därför syftar metoden till att på ett långsiktligt sätt bygga upp balans och psykisk välbefinnande.</p>
</section>
