<section class="contact-form-block">
  <h2>Skicka Meddelande</h2>

  <form id="contact-form" action="index.html" method="post">
    <label for="name">Namn</label>
    <input type="text" name="name" value="" required placeholder="Hej Kim, jag heter ...">

    <label for="email">E-mail</label>
    <input type="email" name="email" value="" required placeholder="du kan nå mig på följande adress ...">

    <label for="phone">Telefon</label>
    <input type="tel" name="phone" value="" placeholder="eller per telefon på ... ">

    <label for="message">Meddelande</label>
    <textarea name="message" required form="contact-form" rows="8" cols="80"></textarea>

    <button type="submit" name="button">Skicka</button>
  </form>
</section>
