<h2>Mina Tjänster</h2><br>
<section class="services-block">
  <div class="services-block__item">
    <a href="{{relref . "/tjanster/_index.md#samtalsterapi"}}">
      <div class="img-wrapper" style="--aspect-ratio:1/1;">
        <img src="../images/samtalsterapi.jpg" alt="Samtalsterapi bild" >
      </div>
    </a>
    <h4><a href="{{relref . "/tjanster/_index.md#samtalsterapi"}}">Samtalsterapi</a></h4>
    <p>
      När du behöver lösa något som hindrar dig att nå din fulla potential och välbefinnande.
    </p>
  </div>
  <div class="services-block__item">
    <a href="{{relref . "/tjanster/_index.md#avspänning--balans"}}">
      <div class="img-wrapper" style="--aspect-ratio:1/1;">
        <img src="../images/avspanning-balans.jpg" alt="Avspänning & Balans bild">
      </div>
    </a>
    <h4><a href="{{relref . "/tjanster/_index.md#avspänning--balans"}}">Avspänning & balans</a></h4>
    <p>
      Om du behöver stöd och verktyg att komma vidare ur en stressig livssituation för att hitta din balans i kropp och själ.
    </p>
  </div>
  <div class="services-block__item">
    <a href="{{relref . "/tjanster/_index.md#hörselhälsa"}}">
      <div class="img-wrapper" style="--aspect-ratio:1/1;">
        <img src="../images/horselhalsa.jpg" alt="Hörselhälsa bild" >
      </div>
    </a>
    <h4><a href="{{relref . "/tjanster/_index.md#hörselhälsa"}}">Hörselhälsa</a></h4>
    <p>
      Om du har tinnitus eller ljudkänslighet och behöver råd & stöd eller individuella hörselskydd. Du kan också kombinera avspänningsövningar.
    </p>
  </div>
</section>
